# ==============================================================================
# Template de Configuração de Rede - Debian 12
# Arquivo: roles/net_security/templates/interfaces.j2
# ==============================================================================

source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

auto {{ pop_network_interface }}

iface {{ pop_network_interface }} inet static
  address {{ pop_network_ipv4_address | ansible.builtin.split('/')[0] }}
  netmask {{ pop_network_ipv4_address | ansible.builtin.split('/')[1] | ansible.builtin.ipmath('0') | ansible.builtin.ipmath('255.255.255.255') | ansible.builtin.ipmath(pop_network_ipv4_address | ansible.builtin.split('/')[1] | ansible.builtin.ipmath('0.0.0.0')) }}
  gateway {{ pop_network_ipv4_gateway }}
  dns-nameservers {{ pop_network_dns_list | join(' ') }}

iface {{ pop_network_interface }} inet6 static
  address {{ pop_network_ipv6_address }}
  gateway {{ pop_network_ipv6_gateway }}