##################################################
#      REDE NACIONAL DE ENSINO E PESQUISA        #
#    National Education and Research Network     #
#                [AVISO/WARNING]                 #
# O  acesso a este  sistema  deve ser  realizado #
# somente por pessoas autorizadas.               #
# Infratores   estarao  sujeitos  a  penalidades #
# civis e criminais.                             #
#                      ***                       #
# Access  to this  device  is  allowed  only  to #
# authorized persons.                            #
# Violators  will  be  subject  to  civil   and  #
# criminal penalties.                            #
#           rnp.br | cais.rnp.br                 #
##################################################