#!/bin/sh

# ==============================================================================
# GT Monitoramento 2025
# Script de Geração de Mensagem do Dia (MOTD)
# Descrição: Este script dinâmico exibe informações do sistema após o login.
# ==============================================================================

echo ""
echo "################################################################"
echo "        Bem-vindo, {{ zabbix_proxy_hostname }}"
echo "################################################################"
echo ""
echo " - Acesso Concedido. Toda atividade está sendo monitorada."
echo " - Servidor configurado com IPv4: {{ pop_network_ipv4_address | ipaddr('address') }}"
echo " - Versão do Zabbix Agent: {{ zabbix_agent_package }}"
echo " - Último login: `last -1`"
echo ""