network:
  version: 2
  ethernets:
    {{ netplan_interface }}:
      dhcp4: no
      addresses:
{% for address in netplan_addresses %}
        - {{ address }}
{% endfor %}
      nameservers:
        addresses:
{% for dns_server in netplan_nameservers %}
          - {{ dns_server }}
{% endfor %}
      routes:
{% for route in netplan_routes %}
{% if route.metric is defined %}
        - to: {{ route.to }}
          via: {{ route.via }}
          metric: {{ route.metric }}
{% else %}
        - to: {{ route.to }}
          via: {{ route.via }}
{% endif %}
{% endfor %}