# ==============================================================================
# GT Monitoramento 2025
# Template de Configuração do OpenSSH Server (sshd) - Versão Sucinta
# Descrição: Este template gera o arquivo /etc/ssh/sshd_config com
#            as configurações essenciais e seguras, baseadas em variáveis.
# ==============================================================================

# --- Parâmetros de Conexão e Segurança ---
Port {{ ssh_port }}
Protocol 2

# Desabilitar login de root por senha quando a porta é customizada
PermitRootLogin {{ 'prohibit-password' if ssh_port != 22 else 'no' }}
PasswordAuthentication yes

# --- Chaves de Autenticação e Host ---
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
AuthorizedKeysFile  %h/.ssh/authorized_keys

# --- Parâmetros de Sessão e Log ---
UsePrivilegeSeparation yes
SyslogFacility AUTH
LogLevel INFO
LoginGraceTime 120
StrictModes yes
IgnoreRhosts yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no
X11Forwarding yes
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

# --- Configurações de Ciphers, MACs e Kex para Segurança ---
Ciphers aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512,hmac-sha2-256
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512

# --- Configurações para Sessões Inativas ---
ClientAliveInterval 300
ClientAliveCountMax 3


# --- Outras Configurações ---
Banner /etc/issue.net
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes
Include /etc/ssh/sshd_config.d/*.conf