# ==============================================================================
# Template de Configuração Local do SSH
# Arquivo: roles/net_security/templates/sshd.local.j2
# Descrição: Configurações adicionais do SSH incluídas via /etc/ssh/sshd_config
# ==============================================================================

AllowUsers {{ ansible_user }}